name: actions-example
on:
  push:
jobs:
  use-actions:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          distribution: 'zulu' # See 'Supported distributions' for available options
          java-version: '11'
      -
        name: Run java application
        run: |
          cd src/main/java/com/example/githubaction
          javac GithubActionApplication.java
          java -m src/main/java/com/example/githubaction GithubActionApplication

