name: job-matrix
on:
  push:
jobs:
  my-job:
    strategy:
      matrix:
        # os, node and architecture are matrix parameter(user-defined key)
        # The list of possible values for each parameter are used in a cartesian product to create jobs.
        # This section defines a 2 x 3 matrix of 6 jobs, each with a different combination of os and node.
        os: [ubuntu-latest, windows-latest]
        node: [12, 14, 16]
        architecture:
          - x64
        exclude: # The exclude keyword prevents jobs with specific configurations from running.
          -
            os: ubuntu-latest
            node: 12
        include: # include allows you to add new jobs to the matrix. Note that the include rules always evaluated after the exclude rules.
          -
            os: macos-latest
            node: 16
            architecture: x86
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      -
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}
          architecture: ${{ matrix.architecture }}
      - run: npm install
      - run: npm test
