name: outputs
on:
  push:
jobs:
  job1:
    runs-on: ubuntu-latest
    steps:
      -
        name: Do Work
        run: |
          echo '::set-output name=FAV_NUMBER::3'
          echo '::set-output name=FAV_COLOR::blue'
        id: abc  # Steps that create outputs must have unique ids.
      -
        name: Read output  # use outputs
        run: |
          echo "${{steps.abc.outputs.FAV_NUMBER}}"
          echo "${{steps.abc.outputs.FAV_COLOR}}"
    outputs:  # this is available to other jobs that have "needs" keyword with this job
      fav-animal: tiger
      fav-number: ${{steps.abc.outputs.FAV_NUMBER}}
  job2:
    runs-on: ubuntu-latest
    needs: job1
    steps: # use outputs of other jobs
      - run: |
        echo "${{needs.job1.outputs.fav-animal}}"
        echo "${{needs.job1.outputs.fav-number}}"
